<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--文件路径-->
    <add key="FilePath"
         value="Files/" />
    <!--共享文件路径-->
    <add key="ShareFilePath"
         value="E:\WorkPlace\Project\UnFinished Projects\LabelManagement\Source Code For SVN\Enpot.LabelManagement.SQLiteService\Files"/>
    <!--是否启用共享文件路径作为存放模板的路径:1为启用，其他值为不启用\\192.168.1.212\Staff\阿针\TTI Files1-->
    <add key="UseShareFilePath"
         value="0"/>
  </appSettings>
</configuration>
